.wrapper {
  // position: relative;
  width: 100%;
  height: 100%;

  // .playImage {
  //   position: fixed;
  //   left: 50%;
  //   top: 50%;
  //   width: 60px;
  //   height: 60px;
  // }

  .canvas {
    width: 100%;
    height: 100%;

    aspect-ratio: 1280 / 720;
  }
}
